.page-header {
  display: flex;
  border-bottom: 1px solid var(--border-bottom-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.logo-wrap {
  color: var(--logo-text-color);
}

.nav-line {
  display: flex;
  align-items: center;
  margin-right: 93px;
  margin-left: 90px;
}

.nav-link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  height: 80px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--h2-h3-link-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: var(--accent-color);
}

.site-nav {
  display: flex;
  gap: 50px;
}

.site-cont {
  display: flex;
  gap: 50px;
  margin-left: auto;
  align-items: center;
}

.header-img {
  display: inline;
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-img:hover,
.header-img:focus {
  print-color-adjust: var(--accent-color);
}

.nav-cont {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  display: flex;
  align-items: center;
  height: 80px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-cont:hover,
.nav-cont:focus {
  color: var(--accent-color);
}

.nav-cont:hover .header-img,
.nav-cont:focus .header-img {
  fill: var(--accent-color);
}
